<template name="hill">
  <!-- ============ navbar ================= -->
  <div class="navbar theme-header">
     <div class="navbar-inner">
        <div class="left sliding">
         <a href="{{pathFor 'about'}}" class="link back">Back</a>
        </div>
        <div class="center sliding">Hill Stations</div>
     </div>
  </div>
  <!-- =========== end of navbar ======================== -->

  <!-- =============== pages =============== -->
   <div class="pages navbar-through toolbar-through">
     <div class="page" data-page="home">
       <div class="page-content">
       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/interaction.jpg')" valign="bottom" class="card-header">Kaskikot</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>Phewa Tal ‘lake’ is the biggest lake which is the central attraction in Pokhara. You can walk along its edge or hire a boat (sail boat or paddle boat) and move around the Lakeside. It takes a day to explore the distant shores, villages, aquatic & bird life and to watch local fisherman collecting the day’s catch. Don’t miss the stunning reflection of the snow-capped Annapurna in the calm water of Phewa early in the morning.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       </div>
     </div>
   </div>
  <!-- ================ end of pages ============ -->

</template>
