<template name="home">
  <!-- ============ navbar ================= -->
  <div class="navbar theme-header">
     <div class="navbar-inner">
        <div class="center">News&Events</div>
        <div class="right">
          <a href="#" class="open-panel link"><i class="fa fa-bars"></i></a>
        </div>
     </div>
  </div>
  <!-- =========== end of navbar ======================== -->

  <!-- ================ tabBar ===================== -->
  <div class="toolbar tabbar theme-header">
     <div class="toolbar-inner">
       <a href="{{pathFor 'home'}}" class="tab-link">
         <i class="fa fa-newspaper-o fa-2x"></i>
       </a>
       <a href="{{pathFor 'members'}}" class="tab-link">
         <i class="fa fa-users fa-2x"></i>
       </a>
       <a href="{{pathFor 'about'}}" class="tab-link">
         <i class="fa fa-info-circle fa-2x"></i>
       </a>
       <a href="{{pathFor 'link'}}" class="tab-link">
         <i class="fa fa-link fa-2x"></i>
       </a>
     </div>
  </div>
  <!-- ================= end of tabBar ==================== -->

  <!-- =============== pages =============== -->
   <div class="pages navbar-through toolbar-through">
     <div class="page" data-page="home">
       <div class="page-content">
       <!-- =============== Cards ============================ -->

         <div class="card facebook-card">
           <div class="card-header">
             <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
             <div class="facebook-name">Som Thapa</div>
             <div class="facebook-date">Wednesday October 2016</div>
           </div>
             <div class="card-content">
                <div class="card-content-inner">
                  <p>An interaction with Mr. Gobinda Bdr. Karkee director General, Department of Tourism. (Ministry of Cultural, Tourism and Civil Aviation) among tourism entrepreneur about various tourism issues.</p>
                  <img src="/interaction.jpg" width="100%" />
                </div>
             </div>
             <div class="card-footer">
               <a href="#" class="link">Like</a>
               <a href="#" data-popup=".popup-newsOne" class="link open-popup">More</a>
             </div>
         </div>

         <div class="card facebook-card">
           <div class="card-header">
             <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
             <div class="facebook-name">Som Thapa</div>
             <div class="facebook-date">Wednesday October 2016</div>
           </div>
             <div class="card-content">
                <div class="card-content-inner">
                  <p>Pokhara World Peace Puja-2016</p>
                  <img src="/peace-pagoda.jpg" width="100%"/>
                </div>
             </div>
             <div class="card-footer">
               <a href="#" class="link">Like</a>
               <a href="#" data-popup=".popup-newsTwo" class="link open-popup">More</a>
             </div>
         </div>

         <div class="card facebook-card">
           <div class="card-header">
             <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
             <div class="facebook-name">Som Thapa</div>
             <div class="facebook-date">Wednesday October 2016</div>
           </div>
             <div class="card-content">
                <div class="card-content-inner">
                  <p>Nepal has been placed at the number one of 10 countries</p>
                  <img src="/trek.jpg" width="100%" />
                </div>
             </div>
             <div class="card-footer">
               <a href="#" class="link">Like</a>
               <a href="#" data-popup=".popup-newsThree" class="link open-popup">More</a>
             </div>
         </div>

         <div class="card facebook-card">
           <div class="card-header">
             <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
             <div class="facebook-name">Som Thapa</div>
             <div class="facebook-date">Wednesday October 2016</div>
           </div>
             <div class="card-content">
                <div class="card-content-inner">
                  <p>Review & Planning workshop</p>
                  <img src="/review.jpg" width="100%" />
                </div>
             </div>
             <div class="card-footer">
               <a href="#" class="link">Like</a>
               <a href="#" data-popup=".popup-newsFour" class="link open-popup">More</a>
             </div>
         </div>

         <div class="card facebook-card">
           <div class="card-header">
             <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
             <div class="facebook-name">Som Thapa</div>
             <div class="facebook-date">Wednesday October 2016</div>
           </div>
             <div class="card-content">
                <div class="card-content-inner">
                  <p>17th Pokhara Street Festival</p>
                  <img src="/street-festival.jpg" width="100%" />
                </div>
             </div>
             <div class="card-footer">
               <a href="#" class="link">Like</a>
               <a href="#" data-popup=".popup-newsFive" class="link open-popup">More</a>
             </div>
         </div>
       <!-- ================ end of cards ========================== -->

       </div>
     </div>
   </div>
  <!-- ================ end of pages ============ -->

  {{>newsOne}}
  {{>newsTwo}}
  {{>newsThree}}
  {{>newsFour}}
  {{>newsFive}}

</template>
