<template name="link">
  <!-- ============ navbar ================= -->
  <div class="navbar">
     <div class="navbar-inner">
        <div class="center">Our Links</div>
     </div>
  </div>
  <!-- =========== end of navbar ======================== -->

  <!-- ================ tabBar ===================== -->
  <div class="toolbar tabbar">
     <div class="toolbar-inner">
       <a href="{{pathFor 'home'}}" class="tab-link">
         <i class="fa fa-newspaper-o fa-2x"></i>
       </a>
       <a href="{{pathFor 'members'}}" class="tab-link">
         <i class="fa fa-users fa-2x"></i>
       </a>
       <a href="{{pathFor 'about'}}" class="tab-link">
         <i class="fa fa-info-circle fa-2x"></i>
       </a>
       <a href="{{pathFor 'link'}}" class="tab-link">
         <i class="fa fa-link fa-2x"></i>
       </a>
     </div>
  </div>
  <!-- ================= end of tabBar ==================== -->

  <!-- =============== pages =============== -->
   <div class="pages navbar-through toolbar-through">
     <div class="page" data-page="home">
       <div class="page-content">
       <!-- =============== List View ============================ -->

         <div class="list-block media-list">
           <ul>
            <!-- =========== List Items ====================  -->
              <li>
                 <a href="#" onclick="window.open('http://http//www.tourism.gov.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Ministry Of Tourism </div>
                      </div>
                      <div class="item-subtitle">info@pokharatourism.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://http//www.tourismkaski.gov.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Tourism Office, Pokhara</div>
                      </div>
                      <div class="item-subtitle">office@pokhara-hotel.org</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.nepalimmigration.gov.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Immigration Of Nepal </div>
                      </div>
                      <div class="item-subtitle">info@taanpokhara.org</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://pokharamun.gov.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">PKR Sub Metro </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.welcomenepal.com/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">NTB</div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.kmtnc.org.np/cgi-sys/defaultwebpage.cgi','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">ACAP </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://http//www.nepalmountaineering.org/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">NMA </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://http//www.raftingassociation.org.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">NARA </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.lekhnathcci.org.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">LCCI </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.pokharatourism.org.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">ILO Nepal </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text">contact:</div>
                   </div>
                 </a>
              </li>
           </ul>
         </div>
       <!-- ================ End of List ========================== -->

       </div>
     </div>
   </div>
  <!-- ================ end of pages ============ -->

</template>
