<template name="members">
  <!-- ============ navbar ================= -->
  <div class="navbar">
     <div class="navbar-inner">
        <div class="center">Our Members</div>
     </div>
  </div>
  <!-- =========== end of navbar ======================== -->

  <!-- ================ tabBar ===================== -->
  <div class="toolbar tabbar">
     <div class="toolbar-inner">
       <a href="{{pathFor 'home'}}" class="tab-link">
         <i class="fa fa-newspaper-o fa-2x"></i>
       </a>
       <a href="{{pathFor 'members'}}" class="tab-link">
         <i class="fa fa-users fa-2x"></i>
       </a>
       <a href="{{pathFor 'about'}}" class="tab-link">
         <i class="fa fa-info-circle fa-2x"></i>
       </a>
       <a href="{{pathFor 'link'}}" class="tab-link">
         <i class="fa fa-link fa-2x"></i>
       </a>
     </div>
  </div>
  <!-- ================= end of tabBar ==================== -->

  <!-- =============== pages =============== -->
   <div class="pages navbar-through toolbar-through">
     <div class="page" data-page="home">
       <div class="page-content">
       <!-- =============== List View ============================ -->
         <div class="content-block-title">Our most beautiful members are below with detail</div>
         <div class="list-block media-list">
           <ul>
            <!-- =========== List Items ====================  -->
              <li>
                 <a href="#" onclick="window.open('http://www.pokharachamber.org.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">PCCI</div>
                      </div>
                      <div class="item-subtitle">Pokhara Chamber Of Commerce & Industry</div>
                      <div class="item-text">info@pokharachamber.org.np</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.pokhara-hotels.org/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">PHA</div>
                      </div>
                      <div class="item-subtitle">Paschimanchal Hotel Association Pokhara</div>
                      <div class="item-text">office@pokhara-hotel.org</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://taanpokhara.org/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">TAAN</div>
                      </div>
                      <div class="item-subtitle">Trekking Agency Association Of Nepal</div>
                      <div class="item-text">info@taanpokhara.org</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://taanpokhara.org/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">NAATA </div>
                      </div>
                      <div class="item-subtitle">info@pokharachamber.org.np</div>
                      <div class="item-text"></div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('https://www.facebook.com/pokharareban','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Reban</div>
                      </div>
                      <div class="item-subtitle">contact us at</div>
                      <div class="item-text">https://www.facebook.com/pokharareban</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('https://www.facebook.com/tesa.pokhara','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">TESA </div>
                      </div>
                      <div class="item-subtitle">contact us at</div>
                      <div class="item-text">https://www.facebook.com/tesa.pokhara</div>
                   </div>
                 </a>
              </li>

              <li>
                 <a href="#" onclick="window.open('http://www.nepalairsport.org.np/','_system','location=yes')" class="item-link item-content">
                   <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">NAA </div>
                      </div>
                      <div class="item-subtitle">contact us at</div>
                      <div class="item-text">http://www.nepalairsport.org.np/</div>
                   </div>
                 </a>
              </li>
           </ul>
         </div>
       <!-- ================ End of List ========================== -->

       </div>
     </div>
   </div>
  <!-- ================ end of pages ============ -->

</template>
