<template name="natural">
  <!-- ============ navbar ================= -->
  <div class="navbar">
     <div class="navbar-inner">
        <div class="left sliding">
         <a href="{{pathFor 'about'}}" class="link back">Back</a>
        </div>
        <div class="center sliding">Natural Attractions</div>
     </div>
  </div>
  <!-- =========== end of navbar ======================== -->

  <!-- =============== pages =============== -->
   <div class="pages navbar-through toolbar-through">
     <div class="page" data-page="home">
       <div class="page-content">
       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/fewa.jpg')" valign="bottom" class="card-header">Phewa/Fewa Taal</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>Phewa Tal ‘lake’ is the biggest lake which is the central attraction in Pokhara. You can walk along its edge or hire a boat (sail boat or paddle boat) and move around the Lakeside. It takes a day to explore the distant shores, villages, aquatic & bird life and to watch local fisherman collecting the day’s catch. Don’t miss the stunning reflection of the snow-capped Annapurna in the calm water of Phewa early in the morning.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/begnas.jpg')" valign="bottom" class="card-header">Begnas/Rupa Taal</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/seti.jpg')" valign="bottom" class="card-header">Seti George</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/mahendra-cave.jpg')" valign="bottom" class="card-header">Mahendra Cave</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/bat-cave.jpg')" valign="bottom" class="card-header">Bat Cave</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/Gupteshor-Gufa.jpg')" valign="bottom" class="card-header">Gupteshor Gufa</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/devis-fall.jpg')" valign="bottom" class="card-header">Devi's Fall</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       <!-- =============== Card ============================ -->
        <div class="card demo-card-header-pic">
          <div style="background-image:url('/Mountain-Range.jpg')" valign="bottom" class="card-header">Mountain Range</div>
          <div class="card-content">
           <div class="card-content-inner">
             <p>These two picturesque lakes are perfectly serene and clean just 15 km. away towards east from Lakeside. A trip to these lakes makes a perfect day for overnight trip from proper Pokhara. The activities like swimming, boating and fishing are possible in Begnas lake. It is surrounded by hillocks and greeneries except towards the south which is the entrance to the lake. Its area is 3.73 sq. km. with round shape. There are many guest houses at the western shore of the lake from where one can have undisturbed views of the lake and the Himalayas. To get there, you should take the last left before the bridge at Begnas Chowk ‘junction’ which passes the fisheries.</p>
           </div>
          </div>
        </div>
       <!-- ================ End of Card ========================== -->

       </div>
     </div>
   </div>
  <!-- ================ end of pages ============ -->

</template>
