<template name="newsOne">
  <div class="popup-overlay"></div>
  <div class="popup popup-newsOne">
    <div class="content-block">

      <div class="card facebook-card">
        <div class="card-header">
          <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
          <div class="facebook-name">Som Thapa</div>
          <div class="facebook-date">Wednesday October 2016</div>
        </div>
          <div class="card-content">
             <div class="card-content-inner">
                <h3>An interaction with Mr. Gobinda Bdr. Karkee director General, Department of Tourism. (Ministry of Cultural, Tourism and Civil Aviation) among tourism entrepreneur about
                  various tourism issues.</h3>
                <p> It was a day of importance to have an interaction meeting with Mr. Gobinda Bdr. Karkee Director General, Department of Tourism. (Ministry of Cultural, Tourism and Civil Aviation of Nepal Government) in the auditorium hall of NTB, Damside, Pokhara. Mr. Som Bahadur Thapa, President of Pokhara Tourism Council met the Director General. He was accompanied by his fellow members from HAN, NMA, TAAN, VITOF, Tourist Transportation Committee, Former NTB members. Meeting was also attended by representatives from NTB, Tourist Police, tourist officer and Pokhra tourism entrepreneurs. During the meeting, PTC and the representatives explained about the needs to be focused in the promotion or strengthening of tourism sector in Pokhara.

               </p>
               <img src="/interaction.jpg" width="100%" />
             </div>
          </div>
          <div class="card-footer">
            <a href="#" class="link close-popup">Close</a>
          </div>
      </div>

    </div>
  </div>
</template>
