<template name="newsFive">
  <div class="popup-overlay"></div>
  <div class="popup popup-newsFive">
    <div class="content-block">

      <div class="card facebook-card">
        <div class="card-header">
          <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
          <div class="facebook-name">Som Thapa</div>
          <div class="facebook-date">Wednesday October 2016</div>
        </div>
          <div class="card-content">
             <div class="card-content-inner">
                <h3>17th Pokhara Street Festival</h3>
                <p>Food-Music Culture</p>
               <img src="/street-festival.jpg" width="100%" />
             </div>
          </div>
          <div class="card-footer">
            <a href="#" class="link close-popup">Close</a>
          </div>
      </div>

    </div>
  </div>
</template>
