<template name="newsTwo">
  <div class="popup-overlay"></div>
  <div class="popup popup-newsTwo">
    <div class="content-block">

      <div class="card facebook-card">
        <div class="card-header">
          <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
          <div class="facebook-name">Som Thapa</div>
          <div class="facebook-date">Wednesday October 2016</div>
        </div>
          <div class="card-content">
             <div class="card-content-inner">
               <p>Programs Schedule</p>
               <h3>Day 01: (2nd -Feb -2016)</h3>
               <p>08:45 AM Arrival & Welcome to  His Holiness Sakya Trizin Rinpochhe at International Mountain Museum.</p>
               <p>13:00 PM Tourism Conference on “Reviving Tourism Through Religion & Culture”</p>

               <h3>Day 02: (3rd-Feb-2016)</h3>
               <p>08:00 AM ~ 17:00 PM Kyuri Jhanchyok & Tengyur Puja Ending Ceremony.</p>
               <p>11:45 AM- Arrival of Rt. Hon. Vidya Devi Bhandari at Puja Programs, Welcome programs</p>

               <h3>Day 03: (4th-Feb-2016)</h3>
               <p>08: 00 AM ~ 17:00 PM: Offering of Mendal Kusum & Riksum Gombo Wang to the Public.</p>

               <h3>Day 04: (5th-Feb-2016)</h3>
               <p>11:00 AM: IMM Anniversary Day programs at International Mountain Museum followed by Lunch.</p>
               <img src="/peace-pagoda.jpg" width="100%" />
             </div>
          </div>
          <div class="card-footer">
            <a href="#" class="link close-popup">Close</a>
          </div>
      </div>

    </div>
  </div>
</template>
