<template name="newsThree">
  <div class="popup-overlay"></div>
  <div class="popup popup-newsThree">
    <div class="content-block">

      <div class="card facebook-card">
        <div class="card-header">
          <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
          <div class="facebook-name">Som Thapa</div>
          <div class="facebook-date">Wednesday October 2016</div>
        </div>
          <div class="card-content">
             <div class="card-content-inner">
                <h3>Nepal has been placed at the number one of 10 countries</h3>
                <p>Nepal has been placed at the number one spot in the list of 10 countries to visit this year by UK-based Rough Guides, one of the leading travel publishers in the world.</p>
                <p>“With varied landscapes—from the Himalayas to jungles inhabited by tigers, elephants and rhinos—Nepal should be your first choice for travel in 2016,” Rough Guides said, revealing its top holiday destinations for this year on its website.
                      The travel publisher said that after a series of devastating earthquakes and aftershocks, Nepal’s tourist industry was on the rise again. “Though hundreds of thousands have been left homeless, and daily life is not fully back to normal, the country’s historic landmarks are slowly being restored.”
                     Trekking routes are reopening and the resilient Nepali people are finding their feet.
                     “Thoughtfully spent tourist dollars will go a long way here; choosing independent homestays and grass roots tour companies ensures money ends up in local pockets,” it said.
                     The other countries on the list are Colombia, Cuba, Jordan, Albania, Romania, El Salvador, Wales, Kenya and Sri Lanka, in that order.
                     Earlier, another UK-based popular travel publication National Geographic Traveller had placed Nepal in the sixth spot among 16 cool locations to visit in 2016. </p>
                <p>“Tourist numbers to Nepal plummeted by 85 percent after the devastating earthquakes, but the country is once more open for business and safe to visit, with a new government-backed website
providing official updates on affected areas,” said
National Geographic Traveller magazine.
Likewise, the world’s leading travel guide Lonely Planet, in its December travel tips on “Visiting Nepal during the fuel crisis” has mentioned that a new crisis—fuel crisis—is threatening the country’s fragile recovery after the massive earthquakes on April 25 and May 12, 2015.
It said that a diplomatic spat with India had reduced fuel supplies in Nepal to a trickle, forcing up transport prices and triggering shortages of essential goods.
“Since the start of the blockade, transport of
fuel into Nepal has been
limited to small numbers of vehicles every few days, leading to shortages across the country. However, the
Nepali people are resourceful and disrupted fuel
supplies are nothing new for this land-locked Himalayan nation.”
Lonely Planet said that the blockade could end in a day, or it could continue indefinitely. Diplomats from the nations involved, and from the United Nations, are negotiating to break the impasse, but with the central bone of contention being the Nepali constitution, this may take some time to resolve.
“What is certain is that the people of Nepal need tourism more than ever to get past this current crisis and rebuild for the future.”

</p>
               <img src="/trek.jpg" width="100%" />
             </div>
          </div>
          <div class="card-footer">
            <a href="#" class="link close-popup">Close</a>
          </div>
      </div>

    </div>
  </div>
</template>
