<template name="newsFour">
  <div class="popup-overlay"></div>
  <div class="popup popup-newsFour">
    <div class="content-block">

      <div class="card facebook-card">
        <div class="card-header">
          <div class="facebook-avatar"><img src="/avatar.jpg" width="34" height="34" /></div>
          <div class="facebook-name">Som Thapa</div>
          <div class="facebook-date">Wednesday October 2016</div>
        </div>
          <div class="card-content">
             <div class="card-content-inner">
                <h3>Review & Planning workshop</h3>
                <p>A project agreement signed between ILO-Japan and Pokhara Tourism Council (PTC) on 9th June 2015 as Local Economic Development (LED) intervention through tourism promotion in Pokhara was successfully accomplished with the submission of final report on 26th November 2015. All the activities as mentioned in the project proposal were completed.</p>
                <p>In the process of its partners’ like Pokhara Tourism Council (PTC), FNCCI (Federation of Nepal Chamber of Commerce and Industry), FWEAN (Federation of Women Entrepreneurs’ Association of Nepal) and various Chamber & Commerce from all over the Nepal adaptation of its organizational mission, ILO organized one day review and planning workshop on 7th December 2015 in Kathmandu. This workshop was organized for all ILO partners in Nepal.
                </p>
                <p>Mr. Som Bahadur Thapa presented PTC project implementation stages, opportunities and challenges and strategic planning through power point and explanation. This workshop was found to be a platform to express our gratitude, learning and sharing with like minded people involved in the social and economical development of the local.</p> 
                <img src="/review.jpg" width="100%" />
             </div>
          </div>
          <div class="card-footer">
            <a href="#" class="link close-popup">Close</a>
          </div>
      </div>

    </div>
  </div>
</template>
